In [1]:
import findspark

In [2]:
findspark.init()

In [3]:
findspark.find()

'C:\\spark-3.1.3-bin-hadoop2.7'

In [4]:
import pyspark

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName('dataframepractice').getOrCreate()

In [7]:
data = spark.read.option('header','true').csv('Student_Data.csv',inferSchema=True)

In [8]:
data

DataFrame[Student ID: int, Preferred Name: string, First Name: string, Middle Name: string, Last Name: string, Secondary ID: string, Date of Birth: string, E-mail Address: string, Phone 1: string, Address 1: string, Phone 2: string, Address 2: string, Phone 3: string, Address 3: string, Address 4: string]

In [9]:
data.printSchema()

root
 |-- Student ID: integer (nullable = true)
 |-- Preferred Name: string (nullable = true)
 |-- First Name: string (nullable = true)
 |-- Middle Name: string (nullable = true)
 |-- Last Name: string (nullable = true)
 |-- Secondary ID: string (nullable = true)
 |-- Date of Birth: string (nullable = true)
 |-- E-mail Address: string (nullable = true)
 |-- Phone 1: string (nullable = true)
 |-- Address 1: string (nullable = true)
 |-- Phone 2: string (nullable = true)
 |-- Address 2: string (nullable = true)
 |-- Phone 3: string (nullable = true)
 |-- Address 3: string (nullable = true)
 |-- Address 4: string (nullable = true)

In [10]:
data = spark.read.csv('Student_data.csv',header = True, inferSchema = True)

In [11]:
data

DataFrame[Student ID: int, Preferred Name: string, First Name: string, Middle Name: string, Last Name: string, Secondary ID: string, Date of Birth: string, E-mail Address: string, Phone 1: string, Address 1: string, Phone 2: string, Address 2: string, Phone 3: string, Address 3: string, Address 4: string]

In [12]:
data.printSchema()

root
 |-- Student ID: integer (nullable = true)
 |-- Preferred Name: string (nullable = true)
 |-- First Name: string (nullable = true)
 |-- Middle Name: string (nullable = true)
 |-- Last Name: string (nullable = true)
 |-- Secondary ID: string (nullable = true)
 |-- Date of Birth: string (nullable = true)
 |-- E-mail Address: string (nullable = true)
 |-- Phone 1: string (nullable = true)
 |-- Address 1: string (nullable = true)
 |-- Phone 2: string (nullable = true)
 |-- Address 2: string (nullable = true)
 |-- Phone 3: string (nullable = true)
 |-- Address 3: string (nullable = true)
 |-- Address 4: string (nullable = true)

In [13]:
data.select(['Student ID','E-mail Address']).show()

+----------+--------------------+
|Student ID|      E-mail Address|
+----------+--------------------+
|      1001|lpb@myUniversity.com|
|      1002|mgl@myUniversity.com|
|      1003|afs@myUniversity.com|
|      1004|lbb@myUniversity.com|
|      1005|scv@myUniversity.com|
|      1006|mkh@myUniversity.com|
|      1007|gtw@myUniversity.com|
|      1008|jkm@myUniversity.com|
|      1009|ksd@myUniversity.com|
+----------+--------------------+

In [14]:
data.describe().show()

+-------+------------------+--------------+----------+-----------+---------+------------+-------------+--------------------+------------+--------------------+------------+--------------------+------------+--------------------+--------------------+
|summary|        Student ID|Preferred Name|First Name|Middle Name|Last Name|Secondary ID|Date of Birth|      E-mail Address|     Phone 1|           Address 1|     Phone 2|           Address 2|     Phone 3|           Address 3|           Address 4|
+-------+------------------+--------------+----------+-----------+---------+------------+-------------+--------------------+------------+--------------------+------------+--------------------+------------+--------------------+--------------------+
|  count|                 9|             9|         9|          9|        9|           9|            9|                   9|           9|                   9|           9|                   3|           6|                   6|                   9|
|   mean|            1005.0|          null|      null|       null|     null|        null|         null|                null|        null|                null|        null|                null|        null|                null|                null|
| stddev|2.7386127875258306|          null|      null|       null|     null|        null|         null|                null|        null|                null|        null|                null|        null|                null|                null|
|    min|              1001|          Anne|      Anne|      Belle|   Baxley|       Q1001|   01/02/1998|afs@myUniversity.com|279-705-3782|222 Lakeshore Dri...|114-876-8220|1006 College Driv...|325-204-5929|Chase Hall - Room...|Campus Mail - Box...|
|    max|              1009|          Todd|      Todd| Washington| Vlassman|       Q1009|   11/20/1997|scv@myUniversity.com|985-677-7127|871 Lakeshore Dri...|961-413-7600|1008 College Driv...|724-802-0816|Fischer West - Ro...|Campus Mail - Box...|
+-------+------------------+--------------+----------+-----------+---------+------------+-------------+--------------------+------------+--------------------+------------+--------------------+------------+--------------------+--------------------+

In [27]:
#adding colums ---> withColumn(attribute1 = 'new column name',attribute2 = 'values')
data = data.withColumn('Converted Student ID',data['Student ID']*2)
data.select('Converted Student ID').show()

+--------------------+
|Converted Student ID|
+--------------------+
|                2002|
|                2004|
|                2006|
|                2008|
|                2010|
|                2012|
|                2014|
|                2016|
|                2018|
+--------------------+

In [34]:
#droping columns ---> drop('column name')  
#even a single column can be dropped or else multiple columns can be dropped by giving list of columns
data = data.drop('Full Name')
data.show()

+----------+--------------+----------+-----------+---------+------------+-------------+--------------------+------------+--------------------+------------+--------------------+------------+--------------------+--------------------+
|Student ID|Preferred Name|First Name|Middle Name|Last Name|Secondary ID|Date of Birth|      E-mail Address|     Phone 1|           Address 1|     Phone 2|           Address 2|     Phone 3|           Address 3|           Address 4|
+----------+--------------+----------+-----------+---------+------------+-------------+--------------------+------------+--------------------+------------+--------------------+------------+--------------------+--------------------+
|      1001|          Luke|      Luke|     Porter|   Baxley|       Q1001|   01/02/1998|lpb@myUniversity.com|780-883-7269|222 Lakeshore Dri...|404-925-4456|                null|325-204-5929|Fischer West - Ro...|Campus Mail - Box...|
|      1002|        Marnie|    Marnie|      Gayle|  Lemmons|       Q1002|   11/07/1998|mgl@myUniversity.com|826-443-7227|610 Spring Creek ...|819-724-9241|                null|724-802-0816|Chase Hall - Room...|Campus Mail - Box...|
|      1003|          Anne|      Anne|      Faith|    Scott|       Q1003|   02/02/1997|afs@myUniversity.com|759-315-2580|871 Lakeshore Dri...|114-876-8220|                null|325-674-2993|Fischer East - Ro...|Campus Mail - Box...|
|      1004|          Lucy|      Lucy|      Belle|Blakeslee|       Q1004|   03/02/2000|lbb@myUniversity.com|956-277-5715|787 Ruth Street<b...|827-308-2391|                null|615-384-7495|Fischer East - Ro...|Campus Mail - Box...|
|      1005|       Chelsea|   Chelsea|   Savannah| Vlassman|       Q1005|   01/24/1997|scv@myUniversity.com|716-713-9011|461 Lakeshore Dri...|431-594-8175|                null|325-669-5766|Chase Hall - Room...|Campus Mail - Box...|
|      1006|         Kelly|     Kelly|    Marilyn|   Hudson|       Q1006|   01/25/1999|mkh@myUniversity.com|775-553-2558|744 Ruth Street<b...|646-431-2608|1006 College Driv...|        null|                null|Campus Mail - Box...|
|      1007|          Todd|      Todd| Washington|Robertson|       Q1007|   01/21/1997|gtw@myUniversity.com|279-705-3782|832 Lakeshore Dri...|786-200-2974|1007 College Driv...|        null|                null|Campus Mail - Box...|
|      1008|          Kirk|      Kirk|     Jeremy| Mitchell|       Q1008|   01/20/1997|jkm@myUniversity.com|937-857-9883|793 Ruth Street<b...|961-413-7600|1008 College Driv...|        null|                null|Campus Mail - Box...|
|      1009|       Suzanne|   Suzanne|   Kathleen|     Dunn|       Q1009|   11/20/1997|ksd@myUniversity.com|985-677-7127|587 Lakeshore Dri...|535-429-1584|                null|325-370-2043|Chase Hall - Room...|Campus Mail - Box...|
+----------+--------------+----------+-----------+---------+------------+-------------+--------------------+------------+--------------------+------------+--------------------+------------+--------------------+--------------------+

In [35]:
#renaming colums ---> withColumnRenamed(attribute1 = 'existing column name',attribute2 = 'new column name')
data = data.withColumnRenamed('Preferred Name','Actual Name')
data.select('Actual Name').show()

+-----------+
|Actual Name|
+-----------+
|       Luke|
|     Marnie|
|       Anne|
|       Lucy|
|    Chelsea|
|      Kelly|
|       Todd|
|       Kirk|
|    Suzanne|
+-----------+